.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app {
  width : 100%;
}


/* Map styles */

#main-map{
  width : 100%;
  height : 100%;
}

.overlay {
  position: fixed; 
  top: 20%;
  right: 5%;

  
  width: 450px;

  background: rgba(255, 255, 255, 0.5); /* White see-through */
  color: #282c34; 

  transition: .5s ease;
  opacity:1;
  font-size: 20px;
  padding: 20px;
  text-align: left;
}

.navbar {
  background: rgba(255, 255, 255, 0.5); /* White see-through */
}

.button {
  margin : 1em;
}

.card{
  margin : 1em;
}

.cardgroup {
  top: 15%;
  right: 5%;
  padding: 0px;
}